[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sam/Desktop/CCS10.2.0.00009_linux-x64]
row=4
col=1

[/home/sam/Desktop/octo.ovpn]
row=7
col=0

[/home/sam/Desktop/SideQuest-0.10.19]
row=7
col=1

[/home/sam/Desktop/gparted-live-1.2.0-1-i686.iso]
row=2
col=1

[/home/sam/Desktop/arduino-arduinoide.desktop]
row=1
col=0

[/home/sam/Desktop/github]
row=0
col=2

[/home/sam/Desktop/Code Composer Studio 10.2.0.desktop]
row=6
col=0

[/home/sam/Desktop/yfinance.py]
row=8
col=0

[/home/sam/Desktop/tor-browser_en-US]
row=3
col=0

[/home/sam/Desktop/rclone-browser-1.8.0-a0b66c6-linux-x86_64.AppImage]
row=0
col=1

[/home/sam/Desktop/2021-04-26_10-52.png]
row=2
col=2

[/home/sam/Desktop/fcitx]
row=1
col=2

[/home/sam/Desktop/Immersed-x86_64.AppImage]
row=8
col=1

[/home/sam/Desktop/balenaEtcher-1.5.116-x64.AppImage]
row=3
col=1

[/home/sam/Desktop/chrome-efmjfjelnicpmdcmfikempdhlmainjcb-Default.desktop]
row=5
col=0

[/home/sam/Desktop/MountFuji.blend]
row=4
col=0

[/home/sam/Desktop/__pycache__]
row=2
col=0

[/home/sam/Desktop/arduino-1.8.13]
row=6
col=1

[/home/sam/Desktop/steam.desktop]
row=1
col=1

[/home/sam/Desktop/energia-1.8.10E23]
row=5
col=1

[/home/sam]
row=0
col=0

